In [3]:
#import required librafries 
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import pyreadstat

In [4]:
# Read the SPSS .sav file
df, meta = pyreadstat.read_sav("perv1.sav")
df['Year']=2020
#save as csv
df.to_csv("perv1.csv", index=False)

In [5]:
df.head()

,FI_perv1,B1q2_perv1,qtr_perv1,visit_perv1,b1q3_perv1,state_perv1,distcode_perv1,nss_region_perv1,b1q5_perv1,b1q6_perv1,...,b7pt2_q11_perv1,b7pt2_q12_perv1,b7pt2_q13_perv1,b7pt2_q14_perv1,b7pt2_q15_perv1,NSS_perv1,NSC_perv1,mult_perv1,no_qtr_perv1,Year
0,FVP4,104,Q5,V1,1,14,05,141,01,08,...,,,,,,3.0,6.0,81181.0,4.0,2020
1,FVP4,104,Q5,V1,1,14,05,141,01,08,...,,,,,,3.0,6.0,81181.0,4.0,2020
2,FVP4,104,Q5,V1,1,14,05,141,01,08,...,,,,,,3.0,6.0,81181.0,4.0,2020
3,FVP4,104,Q5,V1,1,14,05,141,01,08,...,,,,,,3.0,6.0,81181.0,4.0,2020
4,FVP4,104,Q5,V1,1,14,05,141,01,08,...,,,,,,3.0,6.0,81181.0,4.0,2020

In [6]:
print(meta.column_labels)

['File Identification', 'Schdule', 'Quarter', 'Visit', 'Sector', 'State/Ut Code', 'District Code', 'NSS-Region', 'Stratum', 'Sub-Stratum', 'Sub-Sample', 'Fod Sub-Region', 'FSU', 'Sample Sg/Sb No.', 'Second Stage Stratum No.', 'Sample Household Number', 'Person Serial No.', 'Relationship To Head', 'Sex', 'Age', 'Marital Status', 'General Educaion Level', 'Technical Educaion Level', 'No. of years in Formal Education', 'Status of Current Attendance in Educational Institution', 'Whether received any Vocational/Technical Training', 'Whether Training completed during last 365 Days', 'Field Of Training', 'Duration Of Training', 'Type Of Training', 'Source Of Funding The Training', 'Status Code', 'Industry Code (NIC)', 'Occupation Code (NCO)', 'Whether Engaged In Any Work In Subsidiary Capacity', '(Principal)location Of Workplace Code', '(Principal) Enterprise Type Code', '(Principal) No. Of Workers In The Enterprise', '(Principal)  Type Of Job Contract', '(Principal) Eligble Of Paid Leave', '(Principal) Social Security Benefits', '(Principal) Usage of product of the economic activity', 'Status Code', 'Industry Code (NIC)', 'Occupation Code (NCO)', '(Subsidiary) location Of Workplace Code', '(Subsidiary)  Enterprise Type Code', '(Subsidiary)  No. Of Workers In The Enterprise', '(Subsidiary)   Type Of Job Contract', '(Subsidiary)  Eligble Of Paid Leave', '(Subsidiary)  Social Security Benefits', '(Subsidiary) Usage of product of the economic activity', 'Ever Worked Prior to last 365 days', 'Duration of engagement in the economic activity in usual Principal Activity Status', 'Duration of engagement in the economic activity in Subsidiary Activity Status', 'Efforts undertaken to search work', 'Duration of spell of Unemployment', 'Whether Ever Worked', 'Reason for not working in last 365 days', 'Main reason for being in Principal activity status (91 to 97)', 'Status Code for activity 1', 'Industry Code (NIC) for activity 1', 'hours actuallly worked for activity 1 on 7 th day', 'wage earning for activity 1 on 7 th day', 'Status Code for activity 2', 'Industry Code (NIC) for activity 2', 'hours actuallly worked for activity 2 on 7 th day', 'wage earning for activity 2 on 7 th day', 'total hours actually worked on 7th day', 'hours available for aditional worked on 7th day', 'Status Code for activity 1', 'Industry Code (NIC) for activity 1', 'hours actuallly worked for activity 1 on 6 th day', 'wage earning for activity 1 on 7 th day', 'Status Code for activity 2', 'Industry Code (NIC) for activity 2', 'hours actuallly worked for activity 2 on 6 th day', 'wage earning for activity 2 on 6 th day', 'total hours actually worked on 6th day', 'hours available for aditional worked on 6th day', 'Status Code for activity 1', 'Industry Code (NIC) for activity 1', 'hours actuallly worked for activity 1 on5 th day', 'wage earning for activity 1 on 5 th day', 'Status Code for activity 2', 'Industry Code (NIC) for activity 2', 'hours actuallly worked for activity 2 on 5 th day', 'wage earning for activity 2 on 5 th day', 'total hours actually worked on 5th day', 'hours available for aditional worked on 5th day', 'Status Code for activity 1', 'Industry Code (NIC) for activity 1', 'hours actuallly worked for activity 1 on 4th day', 'wage earning for activity 1 on 4th day', 'Status Code for activity 2', 'Industry Code (NIC) for activity 2', 'hours actuallly worked for activity 2 on 4th day', 'wage earning for activity 2 on 4th day', 'total hours actually worked on 4th day', 'hours available for aditional worked on 4th day', 'Status Code for activity 1', 'Industry Code (NIC) for activity 1', 'hours actuallly worked for activity 1 on 3rd day', 'wage earning for activity 1 on 3rd day', 'Status Code for activity 2', 'Industry Code (NIC) for activity 2', 'hours actuallly worked for activity 2 on 3rd day', 'wage earning for activity 2 on 3 rd day', 'total hours actually worked on 3rd day', 'hours available for aditional worked on 3rd day', 'Status Code for activity 1', 'Industry Code (NIC) for activity 1', 'hours actuallly worked for activity 1 on 2nd day', 'wage earning for activity 1 on 2nd day', 'Status Code for activity 2', 'Industry Code (NIC) for activity 2', 'hours actuallly worked for activity 2 on 2nd day', 'wage earning for activity 2 on 2nd day', 'total hours actually worked on 2nd day', 'hours available for aditional worked on 2nd day', 'Status Code for activity 1', 'Industry Code (NIC) for activity 1', 'hours actuallly worked for activity 1 on 1st day', 'wage earning for activity 1 on 1st day', 'Status Code for activity 2', 'Industry Code (NIC) for activity 2', 'hours actuallly worked for activity 2 on 1st day', 'wage earning for activity 2 on 1st day', 'total hours actually worked on 1st day', 'hours available for aditional worked on 1st day', 'Current Weekly Status (CWS)', 'Industry Code (CWS)', 'Occupation Code (CWS)', 'Earnings For Regular Salaried/Wage Activity', 'Earnings For Regular Salaried/Wage Activity', 'Whether Present place of enumeration differs from last usual place of residence', 'Whether moved to Present place of enumeration after March 2020', 'Whether Present place of enumeration was usual place of residence in Past', 'Location of last usual place of residence', 'State code of last usual place of residence', 'Reason for leaving the last usual place of residence', 'Intention to move out from present place of residence', 'Usual Principal Activity Status of last usual place of residence', 'Industry Division (NIC 2 digit)', 'Occupation Group (NCO-2004 3 digit)', 'Highest level of Education', 'Whether Present place of residence differs from Usual place of residence', 'Whether Present place of residence was usual place of residence in Past', 'Location of last usual place of residence', 'State code of last usual place of residence', 'Reason for leaving the last usual place of residence', 'Returned or intention to return to last usual  place of residence', 'Usual Principal Activity Status of last usual place of residence', 'Industry Division (NIC 2 digit)', 'Occupation Group (NCO-2004 3 digit)', 'Ns count for sector x stratum x substratum x sub-sample', 'Ns count for sector x stratum x substratum', 'Sub-sample wise Multiplier', 'Occurance of FSUs in State x Sector x Stratum x SubStratum in 4 Quarters']

In [7]:
#map column name to their labels
for col, label in zip(meta.column_names, meta.column_labels):
    print(f"{col} --> {label}")

FI_perv1 --> File Identification
B1q2_perv1 --> Schdule
qtr_perv1 --> Quarter
visit_perv1 --> Visit
b1q3_perv1 --> Sector
state_perv1 --> State/Ut Code
distcode_perv1 --> District Code
nss_region_perv1 --> NSS-Region
b1q5_perv1 --> Stratum
b1q6_perv1 --> Sub-Stratum
b1q11_perv1 --> Sub-Sample
b1q12_perv1 --> Fod Sub-Region
b1q1_perv1 --> FSU
b1q13_perv1 --> Sample Sg/Sb No.
b1q14_perv1 --> Second Stage Stratum No.
b1q15_perv1 --> Sample Household Number
b4q1_perv1 --> Person Serial No.
b4q4_perv1 --> Relationship To Head
b4q5_perv1 --> Sex
b4q6_perv1 --> Age
b4q7_perv1 --> Marital Status
b4q8_perv1 --> General Educaion Level
b4q9_perv1 --> Technical Educaion Level
b4q10_perv1 --> No. of years in Formal Education
b4q11_perv1 --> Status of Current Attendance in Educational Institution
b4q12_perv1 --> Whether received any Vocational/Technical Training
b4pt1q3_perv1 --> Whether Training completed during last 365 Days
b4pt1q4_perv1 --> Field Of Training
b4pt1q5_perv1 --> Duration Of Training
b4pt1q6_perv1 --> Type Of Training
b4pt1q7_perv1 --> Source Of Funding The Training
b5pt1q3_perv1 --> Status Code
b5pt1q5_perv1 --> Industry Code (NIC)
b5pt1q6_perv1 --> Occupation Code (NCO)
b5pt1q7_perv1 --> Whether Engaged In Any Work In Subsidiary Capacity
b5pt1q8_perv1 --> (Principal)location Of Workplace Code
b5pt1q9_perv1 --> (Principal) Enterprise Type Code
b5pt1q10_perv1 --> (Principal) No. Of Workers In The Enterprise
b5pt1q11_perv1 --> (Principal)  Type Of Job Contract
b5pt1q12_perv1 --> (Principal) Eligble Of Paid Leave
b5pt1q13_perv1 --> (Principal) Social Security Benefits
b5pt1q14_perv1 --> (Principal) Usage of product of the economic activity
b5pt2q3_perv1 --> Status Code
b5pt2q5_perv1 --> Industry Code (NIC)
b5pt2q6_perv1 --> Occupation Code (NCO)
b5pt2q7_perv1 --> (Subsidiary) location Of Workplace Code
b5pt2q8_perv1 --> (Subsidiary)  Enterprise Type Code
b5pt2q9_perv1 --> (Subsidiary)  No. Of Workers In The Enterprise
b5pt2q10_perv1 --> (Subsidiary)   Type Of Job Contract
b5pt2q11_perv1 --> (Subsidiary)  Eligble Of Paid Leave
b5pt2q12_perv1 --> (Subsidiary)  Social Security Benefits
b5pt2q13_perv1 --> (Subsidiary) Usage of product of the economic activity
b5pt3q5_perv1 --> Ever Worked Prior to last 365 days
b5pt3q6_perv1 --> Duration of engagement in the economic activity in usual Principal Activity Status
b5pt3q7_perv1 --> Duration of engagement in the economic activity in Subsidiary Activity Status
b5pt3q8_perv1 --> Efforts undertaken to search work
b5pt3q9_perv1 --> Duration of spell of Unemployment
b5pt3q10_perv1 --> Whether Ever Worked
b5pt3q11_perv1 --> Reason for not working in last 365 days
b5pt3q12_perv1 --> Main reason for being in Principal activity status (91 to 97)
b6q4_3pt1_perv1 --> Status Code for activity 1
b6q5_3pt1_perv1 --> Industry Code (NIC) for activity 1
b6q6_3pt1_perv1 --> hours actuallly worked for activity 1 on 7 th day
b6q9_3pt1_perv1 --> wage earning for activity 1 on 7 th day
b6q4_act2_3pt1_perv1 --> Status Code for activity 2
b6q5_act2_3pt1_perv1 --> Industry Code (NIC) for activity 2
b6q6_act2_3pt1_perv1 --> hours actuallly worked for activity 2 on 7 th day
b6q9_act2_3pt1_perv1 --> wage earning for activity 2 on 7 th day
b6q7_3pt1_perv1 --> total hours actually worked on 7th day
b6q8_3pt1 --> hours available for aditional worked on 7th day
b6q4_3pt2 --> Status Code for activity 1
b6q5_3pt2 --> Industry Code (NIC) for activity 1
b6q6_3pt2_perv1 --> hours actuallly worked for activity 1 on 6 th day
b6q9_3pt2_perv1 --> wage earning for activity 1 on 7 th day
b6q4_act2_3pt2_perv1 --> Status Code for activity 2
b6q5_act2_3pt2_perv1 --> Industry Code (NIC) for activity 2
b6q6_act2_3pt2_perv1 --> hours actuallly worked for activity 2 on 6 th day
b6q9_act2_3pt2_perv1 --> wage earning for activity 2 on 6 th day
b6q7_3pt2_perv1 --> total hours actually worked on 6th day
b6q8_3pt2_perv1 --> hours available for aditional worked on 6th day
b6q4_3pt3_perv1 --> Status Code for activity 1
b6q5_3pt3_perv1 --> Industry Code (NIC) for activity 1
b6q6_3pt3_perv1 --> hours actuallly worked for activity 1 on5 th day
b6q9_3pt3_perv1 --> wage earning for activity 1 on 5 th day
b6q4_act2_3pt3_perv1 --> Status Code for activity 2
b6q5_act2_3pt3_perv1 --> Industry Code (NIC) for activity 2
b6q6_act2_3pt3_perv1 --> hours actuallly worked for activity 2 on 5 th day
b6q9_act2_3pt3_perv1 --> wage earning for activity 2 on 5 th day
b6q7_3pt3_perv1 --> total hours actually worked on 5th day
b6q8_3pt3 --> hours available for aditional worked on 5th day
b6q4_3pt4_perv1 --> Status Code for activity 1
b6q5_3pt4_perv1 --> Industry Code (NIC) for activity 1
b6q6_3pt4_perv1 --> hours actuallly worked for activity 1 on 4th day
b6q9_3pt4_perv1 --> wage earning for activity 1 on 4th day
b6q4_act2_3pt4_perv1 --> Status Code for activity 2
b6q5_act2_3pt4_perv1 --> Industry Code (NIC) for activity 2
b6q6_act2_3pt4_perv1 --> hours actuallly worked for activity 2 on 4th day
b6q9_act2_3pt4_perv1 --> wage earning for activity 2 on 4th day
b6q7_3pt4_perv1 --> total hours actually worked on 4th day
b6q8_3pt4_perv1 --> hours available for aditional worked on 4th day
b6q4_3pt5_perv1 --> Status Code for activity 1
b6q5_3pt5_perv1 --> Industry Code (NIC) for activity 1
b6q6_3pt5_perv1 --> hours actuallly worked for activity 1 on 3rd day
b6q9_3pt5_perv1 --> wage earning for activity 1 on 3rd day
b6q4_act2_3pt5_act2_perv1 --> Status Code for activity 2
b6q5_act2_3pt5_perv1 --> Industry Code (NIC) for activity 2
b6q6_act2_3pt5_perv1 --> hours actuallly worked for activity 2 on 3rd day
b6q9_act2_3pt5_perv1 --> wage earning for activity 2 on 3 rd day
b6q7_3pt5_perv1 --> total hours actually worked on 3rd day
b6q8_3pt5_perv1 --> hours available for aditional worked on 3rd day
b6q4_3pt6_perv1 --> Status Code for activity 1
b6q5_3pt6_perv1 --> Industry Code (NIC) for activity 1
b6q6_3pt6_perv1 --> hours actuallly worked for activity 1 on 2nd day
b6q9_3pt6_perv1 --> wage earning for activity 1 on 2nd day
b6q4_act2_3pt6_perv1 --> Status Code for activity 2
b6q5_act2_3pt6_perv1 --> Industry Code (NIC) for activity 2
b6q6_act2_3pt6_perv1 --> hours actuallly worked for activity 2 on 2nd day
b6q9_act2_3pt6_perv1 --> wage earning for activity 2 on 2nd day
b6q7_3pt6_perv1 --> total hours actually worked on 2nd day
b6q8_3pt6_perv1 --> hours available for aditional worked on 2nd day
b6q4_3pt7_perv1 --> Status Code for activity 1
b6q5_3pt7 --> Industry Code (NIC) for activity 1
b6q6_3pt7_perv1 --> hours actuallly worked for activity 1 on 1st day
b6q9_3pt7_perv1 --> wage earning for activity 1 on 1st day
b6q4_act2_3pt7_perv1 --> Status Code for activity 2
b6q5_act2_3pt7_perv1 --> Industry Code (NIC) for activity 2
b6q6_act2_3pt7_perv1 --> hours actuallly worked for activity 2 on 1st day
b6q9_act2_3pt7_perv1 --> wage earning for activity 2 on 1st day
b6q7_3pt7_perv1 --> total hours actually worked on 1st day
b6q8_3pt7_perv1 --> hours available for aditional worked on 1st day
b6q5_perv1 --> Current Weekly Status (CWS)
b6q6_perv1 --> Industry Code (CWS)
b6q7_perv1 --> Occupation Code (CWS)
b6q9_perv1 --> Earnings For Regular Salaried/Wage Activity
b6q10_perv1 --> Earnings For Regular Salaried/Wage Activity
b7pt1_q3_perv1 --> Whether Present place of enumeration differs from last usual place of residence
b7pt1_q4_perv1 --> Whether moved to Present place of enumeration after March 2020
b7pt1_q5_perv1 --> Whether Present place of enumeration was usual place of residence in Past
b7pt1_q6_perv1 --> Location of last usual place of residence
b7pt1_q8_perv1 --> State code of last usual place of residence
b7pt1_q9_perv1 --> Reason for leaving the last usual place of residence
b7pt1_q10_perv1 --> Intention to move out from present place of residence
b7pt1_q11_perv1 --> Usual Principal Activity Status of last usual place of residence
b7pt1_q12_perv1 --> Industry Division (NIC 2 digit)
b7pt1_q13_perv1 --> Occupation Group (NCO-2004 3 digit)
b7pt2_q5_perv1 --> Highest level of Education
b7pt2_q6_perv1 --> Whether Present place of residence differs from Usual place of residence
b7pt2_q7_perv1 --> Whether Present place of residence was usual place of residence in Past
b7pt2_q8_perv1 --> Location of last usual place of residence
b7pt2_q10_perv1 --> State code of last usual place of residence
b7pt2_q11_perv1 --> Reason for leaving the last usual place of residence
b7pt2_q12_perv1 --> Returned or intention to return to last usual  place of residence
b7pt2_q13_perv1 --> Usual Principal Activity Status of last usual place of residence
b7pt2_q14_perv1 --> Industry Division (NIC 2 digit)
b7pt2_q15_perv1 --> Occupation Group (NCO-2004 3 digit)
NSS_perv1 --> Ns count for sector x stratum x substratum x sub-sample
NSC_perv1 --> Ns count for sector x stratum x substratum
mult_perv1 --> Sub-sample wise Multiplier
no_qtr_perv1 --> Occurance of FSUs in State x Sector x Stratum x SubStratum in 4 Quarters

In [8]:
print(meta.value_labels.keys())
#ctual category definitions are missing

dict_keys(['labels0', 'labels1', 'labels2', 'labels3', 'labels4', 'labels5', 'labels6', 'labels7', 'labels8', 'labels9', 'labels10', 'labels11', 'labels12', 'labels13', 'labels14', 'labels15', 'labels16', 'labels17', 'labels18', 'labels19', 'labels20', 'labels21', 'labels22', 'labels23', 'labels24', 'labels25', 'labels26', 'labels27', 'labels28', 'labels29', 'labels30', 'labels31', 'labels32', 'labels33', 'labels34', 'labels35'])

In [9]:
#make another file of dictionaries and import
%run "plfs_mapping.ipynb"
#store and map readable labels
df['sex_clean']=df['b4q5_perv1'].map(sex_map)
df['status_clean']=df['b5pt1q3_perv1'].map(activity_map)
df['subsidiary_clean']=df['b5pt1q7_perv1'].map(subsidiary_map)
df['state_clean']=df['state_perv1'].map(state_map)
df['age']=df['b4q6_perv1']
df['weight']=df['mult_perv1']

In [10]:
#handle missing values using fillna

df['sex_clean'].fillna('Unknown',inplace=True)
df['subsidiary_clean'].fillna('Unknown',inplace=True)
df['state_clean'].fillna('Unknown',inplace=True)
df['status_clean'].fillna('Unknown',inplace=True)

In [11]:
df.head()

,FI_perv1,B1q2_perv1,qtr_perv1,visit_perv1,b1q3_perv1,state_perv1,distcode_perv1,nss_region_perv1,b1q5_perv1,b1q6_perv1,...,NSC_perv1,mult_perv1,no_qtr_perv1,Year,sex_clean,status_clean,subsidiary_clean,state_clean,age,weight
0,FVP4,104,Q5,V1,1,14,05,141,01,08,...,6.0,81181.0,4.0,2020,male,Worked in h.h. enterprise (self-employed): own...,no,Maharashtra,54.0,81181.0
1,FVP4,104,Q5,V1,1,14,05,141,01,08,...,6.0,81181.0,4.0,2020,female,Domestic duties + free collection of goods/sew...,no,Maharashtra,50.0,81181.0
2,FVP4,104,Q5,V1,1,14,05,141,01,08,...,6.0,81181.0,4.0,2020,female,Worked as regular salaried/wage employee,no,Maharashtra,28.0,81181.0
3,FVP4,104,Q5,V1,1,14,05,141,01,08,...,6.0,81181.0,4.0,2020,female,Worked in h.h. enterprise (self-employed): own...,no,Maharashtra,24.0,81181.0
4,FVP4,104,Q5,V1,1,14,05,141,01,08,...,6.0,81181.0,4.0,2020,male,Attended educational institution,no,Maharashtra,16.0,81181.0

In [12]:
#drop missing values from age and weight
df=df.dropna(subset=['age','weight'])

In [13]:
#classify activity status into groups
def activity_class(code):
    if str(code) in ['11','12','21','31','41','51']:#working
       return 'Employed'
    elif str(code)=='81':#seeking work
        return "Unemployed"
    else:
        return "Out of labour force"

In [14]:
#add new column for labour status
df['labour_status']=df['b5pt1q3_perv1'].apply(activity_class)
df.head()

,FI_perv1,B1q2_perv1,qtr_perv1,visit_perv1,b1q3_perv1,state_perv1,distcode_perv1,nss_region_perv1,b1q5_perv1,b1q6_perv1,...,mult_perv1,no_qtr_perv1,Year,sex_clean,status_clean,subsidiary_clean,state_clean,age,weight,labour_status
0,FVP4,104,Q5,V1,1,14,05,141,01,08,...,81181.0,4.0,2020,male,Worked in h.h. enterprise (self-employed): own...,no,Maharashtra,54.0,81181.0,Employed
1,FVP4,104,Q5,V1,1,14,05,141,01,08,...,81181.0,4.0,2020,female,Domestic duties + free collection of goods/sew...,no,Maharashtra,50.0,81181.0,Out of labour force
2,FVP4,104,Q5,V1,1,14,05,141,01,08,...,81181.0,4.0,2020,female,Worked as regular salaried/wage employee,no,Maharashtra,28.0,81181.0,Employed
3,FVP4,104,Q5,V1,1,14,05,141,01,08,...,81181.0,4.0,2020,female,Worked in h.h. enterprise (self-employed): own...,no,Maharashtra,24.0,81181.0,Employed
4,FVP4,104,Q5,V1,1,14,05,141,01,08,...,81181.0,4.0,2020,male,Attended educational institution,no,Maharashtra,16.0,81181.0,Out of labour force

In [15]:
#get the population participating in labour force
labour_force=df[df['labour_status'].isin(['Employed','Unemployed'])]

In [16]:
df[["b5pt1q3_perv1","status_clean","labour_status"]].head(20) #confirm mapping

,b5pt1q3_perv1,status_clean,labour_status
0,11,Worked in h.h. enterprise (self-employed): own...,Employed
1,93,Domestic duties + free collection of goods/sew...,Out of labour force
2,31,Worked as regular salaried/wage employee,Employed
3,11,Worked in h.h. enterprise (self-employed): own...,Employed
4,91,Attended educational institution,Out of labour force
5,31,Worked as regular salaried/wage employee,Employed
6,11,Worked in h.h. enterprise (self-employed): own...,Employed
7,91,Attended educational institution,Out of labour force
8,91,Attended educational institution,Out of labour force
9,11,Worked in h.h. enterprise (self-employed): own...,Employed
10,93,Domestic duties + free collection of goods/sew...,Out of labour force
11,91,Attended educational institution,Out of labour force
12,92,Attended domestic duties only,Out of labour force
13,31,Worked as regular salaried/wage employee,Employed
14,93,Domestic duties + free collection of goods/sew...,Out of labour force
15,91,Attended educational institution,Out of labour force
16,92,Attended domestic duties only,Out of labour force
17,91,Attended educational institution,Out of labour force
18,91,Attended educational institution,Out of labour force
19,11,Worked in h.h. enterprise (self-employed): own...,Employed

In [17]:
#filter working age 
df_working=df[df["age"].between(15,59)]

In [18]:
# weighted unemployed and employed
unemployed_weight = df_working.loc[df_working["labour_status"]=="Unemployed", "weight"].sum()
employed_weight   = df_working.loc[df_working["labour_status"]=="Employed", "weight"].sum()
working_age_weight=df_working['weight'].sum()
# unemployment rate
unemployment_rate = unemployed_weight / (unemployed_weight + employed_weight)

print(f"Unemployment Rate: {unemployment_rate*100:.2f}%")

Unemployment Rate: 5.32%

In [19]:
unemployed_weight

16726604406.0

In [20]:
#labour force participation rate
LFPR= (unemployed_weight+ employed_weight)/working_age_weight *100
print(f"LFPR:{ LFPR:.2f} %")

LFPR:54.97 %

In [21]:
#Worker population ratio
WPR= employed_weight/working_age_weight * 100
print(f"Worker population ratio:{ WPR:.2f} %")

Worker population ratio:52.05 %

In [22]:
Employed_women= df_working.loc[(df_working['sex_clean']=="female") & (df_working['labour_status']=="Unemployed"),"weight"].sum()
Employed_men=df_working.loc[(df_working['sex_clean']=="male") & (df_working['labour_status']=="Unemployed"),"weight"].sum()
Employed_men

12701342825.0

# Year 2019 & 2021

In [24]:
df_2019 , meta2= pyreadstat.read_sav('PERFV_2019-20.sav')
df_2019['Year']=2019 #new column - year

df_2021 , meta3= pyreadstat.read_sav('perv1-22.sav')
df_2021['Year']=2021

In [25]:
#rename column of 2019 to match 2020 & 2021
df_2019.rename(columns={
    'b4q6_per_fv': 'b4q6_perv1',
    'b4q5_per_fv': 'b4q5_perv1',
    'MULT_per_fv': 'mult_perv1',
    'b5pt1q3_per_fv': 'b5pt1q3_perv1',
    'b5pt1q7_per_fv': 'b5pt1q7_perv1',
    'state_per_fv':'state_perv1'
}, inplace=True)

In [27]:
df_2019.head()

,FI_per_fv,b1q2_per_fv,quarter_per_fv,visit_per_fv,b1q3_per_fv,state_perv1,b1q4_per_fv,nss_region_per_fv,b1q5_per_fv,b1q6_per_fv,...,b6q5_per_fv,b6q6_per_fv,b6q7_per_fv,b6q9_per_fv,b6q10_per_fv,NSS_per_fv,NSC_per_fv,mult_perv1,No_qtr_per_fv,Year
0,FVP3,104,Q1,V1,1,14,06,141,01,08,...,31,84,345,24000.0,0.0,3.0,6.0,47117.0,4.0,2019
1,FVP3,104,Q1,V1,1,14,06,141,01,08,...,92,,,0.0,0.0,3.0,6.0,47117.0,4.0,2019
2,FVP3,104,Q1,V1,1,14,06,141,01,08,...,91,,,0.0,0.0,3.0,6.0,47117.0,4.0,2019
3,FVP3,104,Q1,V1,1,14,06,141,01,08,...,91,,,0.0,0.0,3.0,6.0,47117.0,4.0,2019
4,FVP3,104,Q1,V1,1,14,06,141,01,08,...,11,01,920,0.0,6000.0,3.0,6.0,20459.0,4.0,2019

In [28]:
%run "plfs_mapping.ipynb"
#store and map readable labels
df_2019['sex_clean']=df_2019['b4q5_perv1'].map(sex_map)
df_2019['status_clean']=df_2019['b5pt1q3_perv1'].map(activity_map)
df_2019['subsidiary_clean']=df_2019['b5pt1q7_perv1'].map(subsidiary_map)
df_2019['state_clean']=df_2019['state_perv1'].map(state_map)
df_2019['age']=df_2019['b4q6_perv1']
df_2019['weight']=df_2019['mult_perv1'] 

df_2021['sex_clean']=df_2021['b4q5_perv1'].map(sex_map)
df_2021['status_clean']=df_2021['b5pt1q3_perv1'].map(activity_map)
df_2021['subsidiary_clean']=df_2021['b5pt1q7_perv1'].map(subsidiary_map)
df_2021['state_clean']=df_2021['state_perv1'].map(state_map)
df_2021['age']=df_2021['b4q6_perv1']
df_2021['weight']=df_2021['mult_perv1']

In [29]:
df_2021[:5]

,FI_perv1,B1q2_perv1,qtr_perv1,visit_perv1,b1q3_perv1,state_perv1,distcode_perv1,nss_region_perv1,b1q5_perv1,b1q6_perv1,...,NSC_perv1,mult_perv1,no_qtr_perv1,Year,sex_clean,status_clean,subsidiary_clean,state_clean,age,weight
0,FVP5,104,Q1,V1,1,23,06,236,06,01,...,2.0,2553695.0,4.0,2021,male,Worked in h.h. enterprise (self-employed): own...,no,Tamil Nadu,45.0,2553695.0
1,FVP5,104,Q1,V1,1,23,06,236,06,01,...,2.0,2553695.0,4.0,2021,female,Domestic duties + free collection of goods/sew...,yes,Tamil Nadu,42.0,2553695.0
2,FVP5,104,Q1,V1,1,23,06,236,06,01,...,2.0,2553695.0,4.0,2021,male,Attended educational institution,no,Tamil Nadu,17.0,2553695.0
3,FVP5,104,Q1,V1,1,23,06,236,06,01,...,2.0,2553695.0,4.0,2021,female,Attended educational institution,no,Tamil Nadu,19.0,2553695.0
4,FVP5,104,Q1,V1,1,23,06,236,06,01,...,2.0,2553695.0,4.0,2021,male,Worked in h.h. enterprise (self-employed): own...,yes,Tamil Nadu,51.0,2553695.0

In [30]:
df_2019['labour_status']=df_2019['b5pt1q3_perv1'].apply(activity_class)
df_2021['labour_status']=df_2021['b5pt1q3_perv1'].apply(activity_class)

In [31]:
columns_needed=['age','sex_clean','subsidiary_clean','state_clean','weight','Year','status_clean','labour_status']
df_2019 = df_2019[columns_needed]
df = df[columns_needed]
df_2021 = df_2021[columns_needed]

df_all = pd.concat([df_2019, df, df_2021], ignore_index=True) #stacking all dataframes

In [32]:
df_all.head()

,age,sex_clean,subsidiary_clean,state_clean,weight,Year,status_clean,labour_status
0,47,male,no,Maharashtra,47117.0,2019,Worked as regular salaried/wage employee,Employed
1,45,female,no,Maharashtra,47117.0,2019,Attended domestic duties only,Out of labour force
2,19,male,no,Maharashtra,47117.0,2019,Attended educational institution,Out of labour force
3,18,male,no,Maharashtra,47117.0,2019,Attended educational institution,Out of labour force
4,59,male,no,Maharashtra,20459.0,2019,Worked in h.h. enterprise (self-employed): own...,Employed

In [54]:
df_all['age'] = pd.to_numeric(df_all['age'], errors='coerce') #convert all age to numeric
df_all_working = df_all[df_all['age'].between(15,59)] #Working age from 15-59
#Calculating basic counts of all years
yearly = df_all_working.groupby(["Year", "labour_status"])["weight"].sum().reset_index() #group by year and labour status
yearly

   Year        labour_status        weight
0  2019             Employed  2.932938e+11
1  2019  Out of labour force  2.575935e+11
2  2019           Unemployed  1.796176e+10
3  2020             Employed  2.974816e+11
4  2020  Out of labour force  2.573751e+11
5  2020           Unemployed  1.672660e+10
6  2021             Employed  3.090100e+11
7  2021  Out of labour force  2.662233e+11
8  2021           Unemployed  1.685107e+10

In [55]:
#reshape into wider table
emp=yearly.pivot(index='Year',columns='labour_status',values='weight').fillna(0)
emp

labour_status      Employed  Out of labour force    Unemployed
Year
2019           2.932938e+11         2.575935e+11  1.796176e+10
2020           2.974816e+11         2.573751e+11  1.672660e+10
2021           3.090100e+11         2.662233e+11  1.685107e+10

In [56]:
emp['Labour_force']=emp['Employed']+emp['Unemployed']
emp['Working_age_wt']=emp['Labour_force']+emp['Out of labour force']

emp['Unemployment_rate']= (emp['Unemployed']/emp['Labour_force'] ) *100
emp['WPR']=(emp['Employed']/emp['Working_age_wt'])*100
emp['LFPR']=(emp['Labour_force']/emp['Working_age_wt'])*100
emp

labour_status,Employed,Out of labour force,Unemployed,Labour_force,Working_age_wt,Unemployment_rate,WPR,LFPR
Year,,,,,,,,
2019,2.932938e+11,2.575935e+11,1.796176e+10,3.112555e+11,5.688490e+11,5.770745,51.559163,54.716725
2020,2.974816e+11,2.573751e+11,1.672660e+10,3.142082e+11,5.715833e+11,5.323414,52.045186,54.971549
2021,3.090100e+11,2.662233e+11,1.685107e+10,3.258610e+11,5.920844e+11,5.171243,52.190193,55.036251

In [57]:
#Filter by Sex
yearly2 = df_all_working.groupby(["Year", "sex_clean","labour_status"])["weight"].sum().reset_index()

In [58]:
emp2=yearly2.pivot(index=['Year','sex_clean'],columns='labour_status',values='weight').fillna(0)
emp2

labour_status         Employed  Out of labour force    Unemployed
Year sex_clean
2019 female       7.645430e+10         2.023842e+11  4.358929e+09
     male         2.167520e+11         5.515897e+10  1.360239e+10
     transgender  8.743466e+07         5.026110e+07  4.459400e+05
2020 female       8.078868e+10         1.986650e+11  4.018104e+09
     male         2.166402e+11         5.865096e+10  1.270134e+10
     transgender  5.276928e+07         5.911755e+07  7.157291e+06
2021 female       8.046876e+10         2.086676e+11  4.026750e+09
     male         2.285295e+11         5.754402e+10  1.282432e+10
     transgender  1.168923e+07         1.168341e+07  0.000000e+00

In [59]:
emp2['Labour_force']=emp2['Employed']+emp2['Unemployed']
emp2['Working_age_wt']=emp2['Labour_force']+emp2['Out of labour force']

emp2['Unemployment_rate']= (emp2['Unemployed']/emp2['Labour_force'] ) *100
emp2['WPR']=(emp2['Employed']/emp2['Working_age_wt'])*100
emp2['LFPR']=(emp2['Labour_force']/emp2['Working_age_wt'])*100
emp2

labour_status         Employed  Out of labour force    Unemployed  \
Year sex_clean
2019 female       7.645430e+10         2.023842e+11  4.358929e+09
     male         2.167520e+11         5.515897e+10  1.360239e+10
     transgender  8.743466e+07         5.026110e+07  4.459400e+05
2020 female       8.078868e+10         1.986650e+11  4.018104e+09
     male         2.166402e+11         5.865096e+10  1.270134e+10
     transgender  5.276928e+07         5.911755e+07  7.157291e+06
2021 female       8.046876e+10         2.086676e+11  4.026750e+09
     male         2.285295e+11         5.754402e+10  1.282432e+10
     transgender  1.168923e+07         1.168341e+07  0.000000e+00

labour_status     Labour_force  Working_age_wt  Unemployment_rate        WPR  \
Year sex_clean
2019 female       8.081323e+10    2.831975e+11           5.393831  26.996819
     male         2.303544e+11    2.855134e+11           5.904982  75.916592
     transgender  8.788060e+07    1.381417e+08           0.507439  63.293461
2020 female       8.480678e+10    2.834718e+11           4.737951  28.499722
     male         2.293415e+11    2.879925e+11           5.538179  75.224245
     transgender  5.992657e+07    1.190441e+08          11.943436  44.327496
2021 female       8.449551e+10    2.931631e+11           4.765637  27.448459
     male         2.413538e+11    2.988979e+11           5.313492  76.457397
     transgender  1.168923e+07    2.337264e+07           0.000000  50.012444

labour_status          LFPR
Year sex_clean
2019 female       28.536002
     male         80.680777
     transgender  63.616274
2020 female       29.917183
     male         79.634549
     transgender  50.339797
2021 female       28.822011
     male         80.747931
     transgender  50.012444

In [60]:
df_2019_trans = df_2019[df_2019["sex_clean"] == "transgender"]

df_2019_trans[["Year", "sex_clean", "status_clean",'weight']].head(100)

,Year,sex_clean,status_clean,weight
312,2019,transgender,Attended domestic duties only,191926.0
2111,2019,transgender,Worked in h.h. enterprise (self-employed): own...,5107648.0
8142,2019,transgender,Worked as regular salaried/wage employee,414729.0
17048,2019,transgender,Attended educational institution,427507.0
17902,2019,transgender,"Rentiers, pensioners, remittance recipients, etc.",13515487.0
...,...,...,...,...
404461,2019,transgender,Did not work but was seeking and/or available ...,89188.0
404462,2019,transgender,Did not work but was seeking and/or available ...,89188.0
404463,2019,transgender,Did not work but was seeking and/or available ...,89188.0
404464,2019,transgender,Did not work but was seeking and/or available ...,89188.0
404465,2019,transgender,Did not work but was seeking and/or available ...,89188.0

In [62]:
# Save them as CSV
labour=emp.reset_index()
labour_gender=emp2.reset_index()
labour.to_csv("labour.csv", index=False)
labour_gender.to_csv("labour_gender.csv", index=False)